.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #e1f7fd, #82e2f6);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #222222;
    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-margin: 5px;
}


.list-cell:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #93d6f8, #dcf0fc);
}


.list-cell:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #9abeff, #80c0c0);
    -fx-text-fill: #cecbcb;
}
